# Sphinx documentation
_build/

.vscode/
modules/*
controller
monitoring
firmware-upgrader
radius
notifications
network-topology
users
utils
openwisp2-docs
wifi-login-pages
ipam
openwrt-config-agent
openwrt-monitoring-agent
docker
ansible
staging-dir
versions_map.json

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

