language: python
sudo: false
cache: pip

python:
  - "3.5"

branches:
  only:
    - master

before-install:
  - pip install -U pip wheel

install:
  - pip install --no-cache-dir -U -r requirements.txt

script:
  - ./check_line_length.py
  - openwisp-utils-qa-checks --skip-checkmigrations
  - ./runsphinx-build
