sphinx~=7.4.7
sphinxawesome-theme~=5.3.1
svglib
rst2pdf
sphinxcontrib-jquery
sphinx-notfound-page
sphinxcontrib-spelling
openwisp-utils[qa] @ https://github.com/openwisp/openwisp-utils/tarball/1.2
pylinkvalidator
