sphinx~=8.2.3
sphinxawesome-theme~=5.3.2
svglib
rst2pdf
pypandoc~=1.15
pypandoc_binary~=1.15
sphinxcontrib-jquery
sphinx-notfound-page
sphinxcontrib-spelling
openwisp-utils[qa] @ https://github.com/openwisp/openwisp-utils/tarball/1.2
pylinkvalidator
