{% extends "!layout.html" %}

{% block linktags %}
{{ super() }}
<link rel="canonical" href="{{ html_baseurl }}{{ docs_root }}/{{ current_ow_version }}/{{ pagename }}.html" />
{% endblock %}

{% block footer %}
{{ super() }}
<ul id="doc-versions">
  {% for ow_version in ow_versions %}
    {% if ow_version != current_ow_version %}
      <li class="other">
        <a href="{{ docs_root }}/{{ ow_version }}/{{ pagename }}.html"">{{ ow_version }}</a>
      </li>
    {% endif %}
  {% endfor %}
  <li class="current">
    <p>
      {{ _('Current version') }}:
      <strong>{{ current_ow_version }}</strong>
    </p>
    <p class="download-links">
      {{ _('Downloads') }}:
      <a href="{{ docs_root }}/{{ current_ow_version }}/OpenWISP-{{ current_ow_version }}.pdf" target="_blank">
        PDF</a>
      |
      <a href="{{ docs_root }}/{{ current_ow_version }}/OpenWISP-{{ current_ow_version }}.epub" target="_blank">
        ePUB</a>
    </p>
  </li>
</ul>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  _paq.push(['disableCookies']);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.openwisp.io/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '7']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript>
  <p>
    <img referrerpolicy="no-referrer-when-downgrade" src="//analytics.openwisp.io/matomo.php?idsite=7&amp;rec=1" style="border:0;" alt="" />
  </p>
</noscript>
<!-- End Matomo Code -->

<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
</div>
{{ js_tag('_static/lightbox.js') }}
{% endblock %}
