{% extends "!layout.html" %}

{% block linktags %}
<script>localStorage.darkMode = "light";</script>
{{ super() }}
<link rel="canonical" href="{{ html_baseurl }}{{ docs_root }}/{{ current_ow_version }}/{{ pagename }}.html" />
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Google Analytics v4 Cookieless -->
<script>
  if (window.location.hostname === "openwisp.io") {
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
      // NO COOKIES
      gtag("consent", "default", {
        ad_storage: "denied",
        ad_user_data: "denied",
        ad_personalization: "denied",
        analytics_storage: "denied",
      });
    }
  }
</script>
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-RGGYQ3GC31"
></script>
<script>
  if (window.location.hostname === "openwisp.io") {
    gtag("js", new Date());
    gtag("config", "G-RGGYQ3GC31");
  }
</script>
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
</div>
{{ js_tag('_static/lightbox.js') }}
{% endblock %}
